*.egg-info/
.tox
*.pstats
*.swp
.mypy_cache
__pycache__/
/docs/_build/
*.html
/psycopg_binary/
.vscode
.venv
.coverage
htmlcov

.eggs/
dist/
wheelhouse/
# Spelling these explicitly because we have /scripts/build/ to not ignore
# but I still want 'ag' to avoid looking here.
/build/
/psycopg/build/
/psycopg_c/build/
/psycopg_pool/build/
