psycopg/psycopg/_conninfo_attempts.py linguist-generated=true
psycopg/psycopg/_copy.py linguist-generated=true
psycopg/psycopg/connection.py linguist-generated=true
psycopg/psycopg/cursor.py linguist-generated=true
psycopg_pool/psycopg_pool/null_pool.py linguist-generated=true
psycopg_pool/psycopg_pool/pool.py linguist-generated=true
psycopg_pool/psycopg_pool/sched.py linguist-generated=true
tests/pool/test_pool.py linguist-generated=true
tests/pool/test_pool_common.py linguist-generated=true
tests/pool/test_pool_null.py linguist-generated=true
tests/pool/test_sched.py linguist-generated=true
tests/test_connection.py linguist-generated=true
tests/test_conninfo_attempts.py linguist-generated=true
tests/test_copy.py linguist-generated=true
tests/test_cursor.py linguist-generated=true
tests/test_cursor_client.py linguist-generated=true
tests/test_cursor_common.py linguist-generated=true
tests/test_cursor_raw.py linguist-generated=true
tests/test_cursor_server.py linguist-generated=true
tests/test_notify.py linguist-generated=true
tests/test_pipeline.py linguist-generated=true
tests/test_prepared.py linguist-generated=true
tests/test_tpc.py linguist-generated=true
tests/test_transaction.py linguist-generated=true
