# This is a constraint file forcing the minimum allowed version to be
# installed.
#
# https://pip.pypa.io/en/stable/user_guide/#constraints-files

# From install_requires
backports.zoneinfo == 0.2.0
typing-extensions == 4.1.0
importlib-metadata == 1.4

# From the 'test' extra
anyio == 3.6.2
mypy == 1.4.1
pproxy == 2.7.0
pytest == 6.2.5
pytest-cov == 3.0.0
pytest-randomly == 3.5.0

# From the 'dev' extra
black == 23.1.0
dnspython == 2.1.0
flake8 == 4.0.0
types-setuptools == 57.4.0
wheel == 0.37

# From the 'docs' extra
Sphinx == 5.0
furo == 2022.6.21
sphinx-autobuild == 2021.3.14
sphinx-autodoc-typehints == 1.12.0

# Build tools
setuptools == 49.2.0
wheel == 0.37
Cython == 3.0.0
tomli == 2.0.1

# Undeclared extras to "unblock" extra features
shapely == 1.7.0
