.hint {
  background: #ffc;
  border: 1px solid #dda;
}

/* more compact errors table */
#sqlstate-exceptions table p {
  margin: 0;
}

/* less space between enum values */
dl.attribute {
  margin-bottom: 1rem;
}
