name: Tests

on:
  push:
    # This should disable running the workflow on tags, according to the
    # on.<push|pull_request>.<branches|tags> GitHub Actions docs.
    branches:
      - "*"
  pull_request:
  schedule:
    - cron: '48 6 * * *'

concurrency:
  # Cancel older requests of the same workflow in the same branch.
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true

jobs:

  linux:  # {{{
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        include:
          # Test different combinations of Python, Postgres, libpq.
          - {impl: python, python: "3.7", postgres: "postgres:10", libpq: "newest"}
          - {impl: python, python: "3.8", postgres: "postgres:12", libpq: ""}
          - {impl: python, python: "3.9", postgres: "postgres:13", libpq: ""}
          - {impl: python, python: "3.10", postgres: "postgres:14", libpq: ""}
          - {impl: python, python: "3.11", postgres: "postgres:15", libpq: "oldest"}

          - {impl: c, python: "3.7", postgres: "postgres:15", libpq: "newest"}
          - {impl: c, python: "3.8", postgres: "postgres:13", libpq: ""}
          - {impl: c, python: "3.9", postgres: "postgres:14", libpq: ""}
          - {impl: c, python: "3.10", postgres: "postgres:13", libpq: "oldest"}
          - {impl: c, python: "3.11", postgres: "postgres:10", libpq: "newest"}

          - {impl: dns, python: "3.9", postgres: "postgres:14", libpq: ""}
          - {impl: postgis, python: "3.9", postgres: "postgis/postgis", libpq: ""}

    env:
      PSYCOPG_IMPL: ${{ matrix.impl }}
      PSYCOPG_TEST_DSN: "host=127.0.0.1 user=postgres"
      PGPASSWORD: password
      PYTEST_ADDOPTS: --color yes
      # Enable to run tests using the minimum version of dependencies.
      # PIP_CONSTRAINT: ${{ github.workspace }}/tests/constraints.txt

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}

      - name: Install the newest libpq version available
        if: ${{ matrix.libpq == 'newest' }}
        run: |
          set -x

          curl -sL https://www.postgresql.org/media/keys/ACCC4CF8.asc \
            | gpg --dearmor \
            | sudo tee /etc/apt/trusted.gpg.d/apt.postgresql.org.gpg > /dev/null

          # NOTE: in order to test with a preview release, add its number to
          # the deb entry. For instance, to test on preview Postgres 16, use:
          # "deb http://apt.postgresql.org/pub/repos/apt ${rel}-pgdg main 16"
          rel=$(lsb_release -c -s)
          echo "deb http://apt.postgresql.org/pub/repos/apt ${rel}-pgdg main" \
            | sudo tee -a /etc/apt/sources.list.d/pgdg.list > /dev/null
          sudo apt-get -qq update

          pqver=$(apt-cache show libpq5  | grep ^Version: | head -1 \
            | awk '{print $2}')
          sudo apt-get -qq -y install "libpq-dev=${pqver}" "libpq5=${pqver}"

      - name: Install the oldest libpq version available
        if: ${{ matrix.libpq == 'oldest' }}
        run: |
          set -x
          pqver=$(apt-cache show libpq5  | grep ^Version: | tail -1 \
            | awk '{print $2}')
          sudo apt-get -qq -y --allow-downgrades install \
            "libpq-dev=${pqver}" "libpq5=${pqver}"

      - name: Install tox
        # https://github.com/tox-dev/tox/issues/2619
        run: pip install "tox < 4"

      - name: Run tests (Python implementation)
        if: ${{ matrix.impl == 'python' }}
        run: tox -c psycopg -e ${{ matrix.python }}

      - name: Run tests (C implementation)
        if: ${{ matrix.impl == 'c' }}
        # skip tests failing on importing psycopg_c.pq on subprocess
        # they only fail on Travis, work ok locally under tox too.
        run: tox -c psycopg_c -e ${{ matrix.python }} -- -m 'not subprocess'

      - name: Run DNS-related tests
        if: ${{ matrix.impl == 'dns' }}
        run: tox -c psycopg -e dns -- -m dns
        env:
          PSYCOPG_IMPL: python

      - name: Run PostGIS-related tests
        if: ${{ matrix.impl == 'postgis' }}
        run: tox -c psycopg -e postgis -- -m postgis
        env:
          PSYCOPG_IMPL: python

    services:
      postgresql:
        image: ${{ matrix.postgres }}
        env:
          POSTGRES_PASSWORD: password
        ports:
          - 5432:5432
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5


  # }}}

  macos:  # {{{
    runs-on: macos-latest

    strategy:
      fail-fast: false
      matrix:
        include:
          - {impl: python, python: "3.7"}
          - {impl: python, python: "3.8"}
          - {impl: python, python: "3.9"}
          - {impl: python, python: "3.10"}
          # TODO: cp311 not available yet on Github runners. See #424
          # - {impl: python, python: "3.11"}
          - {impl: c, python: "3.7"}
          - {impl: c, python: "3.8"}
          - {impl: c, python: "3.9"}
          - {impl: c, python: "3.10"}
          # - {impl: c, python: "3.11"}

    env:
      PSYCOPG_IMPL: ${{ matrix.impl }}
      PSYCOPG_TEST_DSN: "host=127.0.0.1 user=runner dbname=postgres"
      # MacOS on GitHub Actions seems particularly slow.
      # Don't run timing-based tests as they regularly fail.
      # pproxy-based tests fail too, with the proxy not coming up in 2s.
      PYTEST_ADDOPTS: -m 'not timing and not proxy and not mypy' --color yes
      # PIP_CONSTRAINT: ${{ github.workspace }}/tests/constraints.txt

    steps:
      - uses: actions/checkout@v3

      - name: Install PostgreSQL on the runner
        run: brew install postgresql@14

      - name: Start PostgreSQL service for test
        run: brew services start postgresql

      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}

      - name: Install tox
        run: pip install "tox < 4"

      - name: Run tests (Python implementation)
        if: ${{ matrix.impl == 'python' }}
        run: tox -c psycopg -e ${{ matrix.python }}

      - name: Run tests (C implementation)
        if: ${{ matrix.impl == 'c' }}
        run: tox -c psycopg_c -e ${{ matrix.python }}


  # }}}

  windows:  # {{{
    runs-on: windows-latest

    strategy:
      fail-fast: false
      matrix:
        include:
          - {impl: python, python: "3.7"}
          - {impl: python, python: "3.8"}
          - {impl: python, python: "3.9"}
          - {impl: python, python: "3.10"}
          - {impl: python, python: "3.11"}
          - {impl: c, python: "3.7"}
          - {impl: c, python: "3.8"}
          - {impl: c, python: "3.9"}
          - {impl: c, python: "3.10"}
          - {impl: c, python: "3.11"}

    env:
      PSYCOPG_IMPL: ${{ matrix.impl }}
      PSYCOPG_TEST_DSN: "host=127.0.0.1 dbname=postgres"
      # On windows pproxy doesn't seem very happy. Also a few timing test fail.
      PYTEST_ADDOPTS: -m 'not timing and not proxy and not mypy' --color yes
      # PIP_CONSTRAINT: ${{ github.workspace }}/tests/constraints.txt

    steps:
      - uses: actions/checkout@v3

      - name: Start PostgreSQL service for test
        run: |
          $PgSvc = Get-Service "postgresql*"
          Set-Service $PgSvc.Name -StartupType manual
          $PgSvc.Start()

      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}

      - name: Install tox
        run: pip install "tox < 4" wheel

      - name: Run tests (Python implementation)
        if: ${{ matrix.impl == 'python' }}
        run: tox -c psycopg -e ${{ matrix.python }}

      # Build a wheel package of the C extensions.
      # If the wheel is not delocated, import fails with some dll not found
      # (but it won't tell which one).
      - name: Build the C wheel
        if: ${{ matrix.impl == 'c' }}
        run: |
          $env:Path = "C:\Program Files\PostgreSQL\14\bin\;$env:Path"
          python ./psycopg_c/setup.py bdist_wheel
          pip install delvewheel
          &"delvewheel" repair `
            --no-mangle "libiconv-2.dll;libwinpthread-1.dll" `
            @(Get-ChildItem psycopg_c\dist\*.whl)

      # tox will only build the package from sdist, not from wheel, so we can't
      # use it for testing. Just test everything in the global installation.
      - name: Install and run tests (C implementation)
        if: ${{ matrix.impl == 'c' }}
        run: |
          pip install ./psycopg/[test] ./psycopg_pool
          &"pip" install @(Get-ChildItem wheelhouse\*.whl)
          # Fix the path for the tests using ctypes
          $env:Path = "C:\Program Files\PostgreSQL\14\bin\;$env:Path"
          # We don't repeat failed tests as tox does. So allow one failure,
          # typically reserved to a flakey test.
          # We may hide a regular failure, yes, but then maybe a flakey test
          # would allow us to find it...
          pytest --allow-fail=1


  # }}}

  crdb:  # {{{
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        include:
          - {crdb: "latest-v22.1", python: "3.10", impl: "c", libpq: "newest"}
          - {crdb: "latest-v21.2", python: "3.9", impl: "python", libpq: ""}

    env:
      PSYCOPG_IMPL: ${{ matrix.impl }}
      PSYCOPG_TEST_DSN: "host=127.0.0.1 port=26257 user=root dbname=defaultdb"
      PYTEST_ADDOPTS: --color yes

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}

      - name: Run CockroachDB
        # Note: this would love to be a service, but I don't see a way to pass
        # the args to the docker run command line.
        run: |
          docker pull cockroachdb/cockroach:${{ matrix.crdb }}
          docker run --rm -d --name crdb -p 26257:26257 \
            cockroachdb/cockroach:${{ matrix.crdb }} start-single-node --insecure

      - name: Install the newest libpq version available
        if: ${{ matrix.libpq == 'newest' }}
        run: |
          set -x

          curl -sL https://www.postgresql.org/media/keys/ACCC4CF8.asc \
            | gpg --dearmor \
            | sudo tee /etc/apt/trusted.gpg.d/apt.postgresql.org.gpg > /dev/null

          # NOTE: in order to test with a preview release, add its number to
          # the deb entry. For instance, to test on preview Postgres 16, use:
          # "deb http://apt.postgresql.org/pub/repos/apt ${rel}-pgdg main 16"
          rel=$(lsb_release -c -s)
          echo "deb http://apt.postgresql.org/pub/repos/apt ${rel}-pgdg main" \
            | sudo tee -a /etc/apt/sources.list.d/pgdg.list > /dev/null
          sudo apt-get -qq update

          pqver=$(apt-cache show libpq5  | grep ^Version: | head -1 \
            | awk '{print $2}')
          sudo apt-get -qq -y install "libpq-dev=${pqver}" "libpq5=${pqver}"

      - name: Install tox
        run: pip install "tox < 4"

      - name: Run tests (Python implementation)
        if: ${{ matrix.impl == 'python' }}
        run: tox -c psycopg -e ${{ matrix.python }}

      - name: Run tests (C implementation)
        if: ${{ matrix.impl == 'c' }}
        # skip tests failing on importing psycopg_c.pq on subprocess
        # they only fail on Travis, work ok locally under tox too.
        run: tox -c psycopg_c -e ${{ matrix.python }} -- -m 'not subprocess'

      - name: Stop CockroachDB
        run: docker kill crdb


  # }}}
